<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles.css">
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to the Infosec workshop</h1>
  <p>We will learn basics of information security today.</p>

  <h1>Login</h1>
  <form action="/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>

</body>
</html>
