<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Books</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to the book club, <%= session.username %>!</h1>
    <div class="header" style="display: inline-block; vertical-align: top;">
        <a href="/create-my-book">Create my book</a>
        <a href="/logout">Logout</a><br>

    </div>

    <div class="search" style="display: inline-block; vertical-align: top;">

        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search for books...">
            <button type="submit">Search</button>
            <button a="/my-books">Clear search</button>
        </form>
        

    </div>
  <ul>
    <% books.forEach(book => { %>
        <li><%= book.name %> - Created by: <%= book.createdby %></li>
      <% }) %>
  </ul>
</body>
</html>
